<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style = "background:#FCFBE3">
    <h1>Your Order Has Been Successfully Placed...</h1>
  </body>
</html>