<!DOCTYPE html>
<html>
  
    <head>
   		<title>MyeBay Address Page</title>
   		<link rel='stylesheet' href='/stylesheets/style.css' />
   		<link rel='stylesheet' href='/stylesheets/divstyle.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<!-- Loading the AngularJS file from /public/angularJS folder -->
		<script src="angularjs/angularebay.js"></script>
  	
  	</head>

  	<body ng-app="login" ng-controller="login" style = "background:#F8F8F8">
  		
  		<h1 style = "text-align:center">Checkout</h1>
        
        <div class = "col-md-4">
        		<div class = "cartStyle">
					
						<h3 style = "text-align: center;">Your Cart<h3>
					
						<table class="table table-bordered table-hover" style="width:100%">
  						<tr>
    						<th style="text-align:center">Name</th>
    						<th style="text-align:center">Price</th>
    						<th style="text-align:center">Total</th>
  						</tr>
 
 						<% for(var cartitem in cartdata) 
	         			{              
            			%>
					 	
					 	<tr>
    						<td style="font-size : 15px"><%= cartdata[cartitem].itemname %></td>
    						<td style="font-size : 15px"><%= cartdata[cartitem].itemprice %></td>
    						<td style="font-size : 15px"><%= cartdata[cartitem].itemprice %></td>
  						</tr>
  						
  						<% 
	        			}  
	       				%>
  							
  						<tr>
  							<th style="text-align:center">SubTotal</th>
  							<th style="text-align:center"></th>
  							<th style="text-align:center"><%= totalPrice %></th>
  						</tr>
					</table>
							
				</div>
				
				<img src = "/images/tp6.png" width = "600">
				
		</div>
		
		
		<div class = "col-md-8" style = "text-align:left">
			<h1 style = "text-align:center">Address Details</h1>
		
			<form name = "userForm" ng-submit="submitAddressForm(userForm.$valid)" novalidate>		
				<p style = "margin-left : 9cm">
					<strong>Country or Region</strong></br>
					<select ng-model="selectedCountry" ng-options="x for x in countries"></select>
				</p>
			
				<p style = "margin-left : 9cm">
					<strong>Address Line 1</strong><b style = "color : red ; font-size : 150%">*</b></br>
					<input type = "text" name = "address1" ng-model = "address1" required></input>
				</p>
			
				<p style = "margin-left : 9cm">
					<strong>Address Line 2</strong><b style = "color : red ; font-size : 150%">*</b></br>
					<input type = "text" name = "address2" ng-model = "address2"></input>
				</p>
			
				<p style = "margin-left : 9cm">
					<strong>Landmark</strong></br>
					<input type = "text" name = "landmark"></input>
				</p>
			
				<p style = "margin-left : 9cm">
					<strong>Contact Number</strong><b style = "color : red ; font-size : 150%">*</b></br>
					<input type = "number" name = "contactnumber" ng-model = "contactnumber" required></input>
				</p>
			
				<p style = "margin-left : 9cm" style = "width : 150%">
					<strong>Zip Code</strong><b style = "color : red ; font-size : 150%">*</b></br>
					<input type = "number" name = zipcode ng-model = "zipcode" required></input>
				</p>
				
				<p style = "margin-left : 9cm">
					<input type = "submit" name = btnPay value = "Proceed To Pay" class="btn btn-success" ng-disabled = "userForm.$invalid"></input>
				</p>
			</form>
		</div>
  		
  	</body>
</html>