<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
  </head>
  
  <body style = "background:#F8F8F8">
  
  	<div style="font-size:500%;">
  		<img src="logo.png" class="img-rounded" alt="Cinque Terre" width="175" height="100">
  		Customer Service
  	</div>
  
  	<div class = "container-fluid">
			<div class = "row">
				<div class = "col-md-6">

  				<p style = "margin-left : 3cm">
  					<strong>Title</strong></br> 
  					<input type = "text" style = "width : 500px">
  				</p>
  			
  				<p style = "margin-left : 3cm">
  					<strong>Your Mail</strong></br> 
  					<input type = "text" style = "height : 200px ; width : 500px">
  				</p>
  				
  				<p style = "margin-left : 3cm">
  					<input type = "button" name = "submitAdd" value = "Submit" class="btn btn-success">
  				</p>
  				</div>
  				
  				
  				<div class = "col-md-6">
  					<img src="/images/customer_support.jpg">
  				</div>
  			</div>	
  		</div>
  
  </body>
</html>